# Apple ][ plus, no cards

# Load motherborad ROM with Applesoft ($D000) and Autostart Monitor ($F800)
import motherboard rom 0x0000 ../apple2src/build/firmware/apple2plus/apple2plus_A$D000_L$2800_applesoft
import motherboard rom 0x2800 ../apple2src/build/firmware/apple2plus/apple2plus_A$F800_L$0800_monitor
