<?xml version="1.0"	encoding="UTF-8" standalone="no"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
	version="2.4">

	<description>Test Tea</description>

    <servlet>
        <servlet-name>teaservlet</servlet-name>
        <servlet-class>com.go.teaservlet.TeaServlet</servlet-class>
        <init-param>
            <param-name>properties.file</param-name>
            <param-value>H:/eclipse/workspace/playtea/web/WEB-INF/TeaServlet.properties</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>teaservlet</servlet-name>
        <url-pattern>/dynamic/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>teaservlet</servlet-name>
        <url-pattern>*.tea</url-pattern>
    </servlet-mapping>
</web-app>
