body
{
	font-family: sans-serif;
	font-size: 8pt;
}

th
{
    border-bottom: thin solid black;
    text-align: left;
}

.title
{
    padding-right: 50px;
}
/*
body
{
	text-align: center;
	font-family: serif;
}

a:link, a:visited, a:hover, a:active
{
	color: #0000CC;
}

.centered
{
	text-align: center;
}

.foot
{
	font-size: x-small;
	text-align: right;
}

.firstletter
{
	font-size: 120%;
}

.textblock
{
	margin-left: auto;
	margin-right: auto;
	text-align: left;
	text-justify: newspaper;
	width: 580px;
}

ul
{
	text-align: left;
}

.cent
{
	margin-left: auto;
	margin-right: auto;
}

.cent td
{
	margin-left: auto;
	margin-right: auto;
	padding-left: 10px;
	padding-right: 10px;
}
*/
