<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<title>Confirm Delete</title>
</head>
<body>
    <p>Are you sure you want to delete "$fields.name.value" permanently?</p>
    <form method="post" action="delete">
        <input name="id" type="hidden" value="$fields.id.value" />
        <p><input type="submit" value="delete" /></p>
    </form>
    <form method="post" action="cancel">
        <p><input type="submit" value="keep" /></p>
    </form>
</body>
</html>
