<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<title>Edit</title>
</head>
<body>
<form method="post" action="editact">
    #set ($id = $fields.id.value)
    <input name="id" type="hidden" value="$id" />
    <p>
        #set ($field = $fields.name)
        <label for="$field.name">$field.name:</label><input name="$field.name" type="text" value="$field.value" />
        #if ($field.bad)
            $field.exception.message
        #end
    </p>
    <p>
        #set ($field = $fields.attrib)
        <label for="$field.name">$field.name:</label><input name="$field.name" type="text" value="$field.value" />
        #if ($field.bad)
            $field.exception.message
        #end
    </p>
    <p><input type="submit" value="save" /></p>
</form>
<form method="post" action="delconf">
    <input name="id" type="hidden" value="$id" />
    <p><input type="submit" value="delete" /></p>
</form>
<form method="post" action="cancel">
    <p><input type="submit" value="cancel" /></p>
</form>
</body>
</html>
