/* TODO Use Yahoo style sheets???
@import url("http://yui.yahooapis.com/3.4.1/build/cssreset-context/cssreset-context-min.css");
@import url("http://yui.yahooapis.com/3.4.1/build/cssbase-context/cssbase-context-min.css");
@import url("http://yui.yahooapis.com/3.4.1/build/cssfonts-context/cssfonts-context-min.css");
*/

/* Get libre fonts from Google */
@import url("http://fonts.googleapis.com/css?family=Gentium+Basic|Sorts+Mill+Goudy&subset=latin,latin-ext");

body
{
	font-family:
		"Sorts Mill Goudy",
		"Gentium Basic",
		"Lucida Sans Unicode",
		"Arial Unicode MS",
		"Arial",
		"Helvetica",
		"serif";
}

table
{
	border-collapse: collapse;
}

td, th
{
	border: 1px solid #93a1a1;
}

hr
{
	border: none;
	border-bottom: 1px solid #93a1a1;
}

.surname
{
	font-size: 133%;
}

.person .parents .name + .relation
{
	margin-left: 3em;
}

.person .events .date
{
	white-space: nowrap;
}

.person .events .notes
{
	width: 20%;
}
.person .events .source
{
	font-size: 90%;
	width: 10%;
}

.partnership
{
	margin-top: 2em;
}

.children
{
	margin-left: 4em;
	margin-top: 1em;
}

.children ul
{
	margin: 0;
}

footer, .pub
{
	font-size: 90%;
}
