body
{
	font-family: Verdana,Arial,sans-serif; /*Garamond,serif;*/
	font-size: 10pt;
	color: #404040;
	background-color: lightyellow;
	margin: 0px;
	padding: 0px;
}

a:link
{
	color: #0000ff;
	text-decoration: none;
}

a:visited
{
	color: #0000ff;
	text-decoration: none;
}

a:hover
{
	color: #0000ff;
	text-decoration: underline;
}

h1
{
	color: black;
	margin: 0px;
	padding: 0px;
}

h3
{
	font-family: Verdana,Arial,sans-serif;
	font-size: 150%;
	color: black;
	margin: 0;
	padding: 30px 0px 30px 0px;
	text-align: left;
}

h2
{
	font-family: Verdana,Arial,sans-serif;
	font-size: 110%;
	color: black;
	margin: 0;
	padding: 20px 0px 20px 0px;
	text-align: left;
}

ul
{
	list-style-type: square;
}

#container
{
	padding: 0; /*10px 0px 0px 0px;*/
	width: 100%;
/*	border-bottom: 1px solid #cccccc;*/
	border-top: 1px solid #cccccc;
}

#navigation
{
	float: left;
	border-right: 1px solid #cccccc;
	border-bottom: 1px solid #cccccc;
	background-color: #e0ffe0;
	width: 20%;
	margin: 0px;
	padding: 0px;
	font-family: Verdana,Arial,sans-serif;
}

#content
{
	float: left;
	width: 75%;
	padding: 20px 0px 0px 20px;
}

#footer
{
	clear: both;
	border-top: 1px solid #cccccc;
	font-size: 75%;
	color: #808080;
	margin-top: 5px;
	padding: 10px 10px 10px 10px;
}

#sitename
{
	margin: 0;
	padding: 5px;
	border-bottom: 1px solid #ccc;
	background-color: black;
}

#welcome
{
	padding: 0px 0px 10px 10px;
}

#features
{
	clear: both;
	padding: 10px 0px 0px 10px;
}

#news p
{
	padding: 0px 0px 10px 0px;
}

#navigation ul a:link, #navBar ul a:visited 
{
	display: block;
}


#navigation ul 
{
	list-style: none; margin: 0; padding: 0;
}

#navigation li 
{
	border-bottom: 1px solid #EEE;
}

html>body #navigation li 
{
	border-bottom: none;
}

#mainnavigation
{
	margin: 0px;
	padding: 0px;
	border-bottom: 1px solid #cccccc;
}

#mainnavigation h3
{
	padding: 10px 0px 2px 10px;
}

#mainnavigation li a 
{
	display: block;
	border-top: 1px solid #cccccc;
	padding: 2px 0px 2px 10px;
}

#mainnavigation li a:hover
{
	background-color: #dddddd;
}

.latest
{
	margin: 0px;
	padding: 0px 0px 10px 10px;
}

.latest h3
{
	padding: 10px 0px 2px 0px;
}

.latest a:link,
.latest a:visited 
{
	display: block; 
}

#headlines
{
	margin: 0px;
	padding: 10px 0px 20px 10px;
}

#headlines p
{
	padding: 5px 0px 5px 0px;
}

img
{
	vertical-align: middle;
}

img
{
	border: 0;
}

#footlinks
{
	float: left;
}

#copyright
{
	float: right;
	text-align: right;
}

.ss
{
	background-color: black;
	padding: 10px 10px 10px 10px;
}

pre
{
	background-color: lightblue;
	font-size: 8pt;
	padding: 10px;
}

.param
{
	font-style: italic;
}
